<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <title>Lar de Adoção</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="laradocao.css">
  <link rel="stylesheet" href="modal.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="shortcut icon" href="icon.ico" type="image/x-icon"/>
</head>
<body>
  <div class="row">
    <div class="container text-center">
      <h1>ADO<span id="dest">CÃO</span></h1>      
      <p>Adote um amiguinho!</p>
    </div>
  </div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand">ADOCÃO</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a>Home</a></li>
          <li><%= link_to('Contate-nos', controller: 'contato') %></li>
          <% if user_signed_in? && !current_user.isAdmin?%> 
            <li><%= link_to('Minhas Visitas', visitas_agendadas_path) %></li>
          <% end %>  
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <%if user_signed_in? && current_user.isAdmin?%>
            <li><a>Olá, administrador!</a></li>
            <li><%= link_to('Usuários', cadastro_usuarios_index_path) %></li>
            <li><%= link_to('Cãezinhos', cadastro_cachorros_path) %></li>
            <li><%= link_to('Visitas', visitas_agendadas_path) %></li>
            <li><%= link_to('Editar Perfil', edit_user_registration_path) %></li> 
            <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li> 
          <% elsif user_signed_in? && !current_user.isAdmin?%> 
            <li><a>Olá, Usuário!</a></li>
            <li><%= link_to('Editar Perfil', edit_user_registration_path) %></li> 
            <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li> 
          <% else %>     
            <li><a>Bem Vindo(a), Visitante!</a></li>
            <li><%= link_to('Login', new_user_session_path) %></li> 
            <li><%= link_to('Cadastrar', new_user_registration_path) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">    
    <div class="row">
    <% @cadastro_cachorros.each do |cadastro_cachorro| %>
      <div class="col-sm-4">
        <div class="panel">
          <div class="panel-heading" style="font-weight: bold;"><%= cadastro_cachorro.nome %></div>
          <div class="panel-body"><%if cadastro_cachorro.foto.attached?%><img src="<%=(url_for(cadastro_cachorro.foto))%>" class="img-responsive", style="width:100%"> <%end%>
            <div class="panel-footer text-center" style = "font-weight: bold;"><%= cadastro_cachorro.raca %> | <%= cadastro_cachorro.sexo %> | <%= cadastro_cachorro.idade %> <% if cadastro_cachorro.idade == 1%> ano <% else %> anos <% end %>
              <br><br>
              <% if user_signed_in? %>
                <a href="http://localhost:3000/visitas_agendadas/new" class="btn btn-info" role="button" style="color: white">Agendar Visita</a>
              <% else %>  
                <button type="button" class="btn btn-info" onclick="myFunction()" data-toggle="modal" >Adote-me</button>
              <% end %>
            </div>  
          </div>
        </div>
      </div>
    <% end %>  
    </div>
  </div> 

    <br><br>
    <footer class="container-fluid text-center">
      <p>&copy All rights reserved.</p>  
    </footer>
    <script>
      function myFunction() {
        alert("Você precisa de um cadastro para agendar uma visita!");
      }
    </script>
</body>
</html>