<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <title>Lar de Adoção</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="laradocao.css">
  <link rel="stylesheet" href="modal.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="shortcut icon" href="icon.ico" type="image/x-icon"/>
</head>
<body>
  <div class="row">
    <div class="container text-center">
      <h1>ADO<span id="dest">CÃO</span></h1>      
      <p>Adote um amiguinho!</p>
    </div>
  </div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand">ADOCÃO</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><%= link_to('Home', controller: 'pagina_inicial') %></li>
          <li><%= link_to('Contate-nos', controller: 'contato') %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? && current_user.isAdmin? %>
            <li><a>Olá, administrador!</a></li>
            <li><%= link_to('Usuários', cadastro_usuarios_index_path) %></li>
            <li class="active"><a>Cãezinhos</a></li>
            <li><%= link_to('Visitas', visitas_agendadas_path) %></li>
            <li><%= link_to('Editar Perfil', edit_user_registration_path) %></li>
            <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li> 
          <% elsif user_signed_in? && !current_user.isAdmin? %> 
            <li><a>Olá, Usuário!</a></li>
            <li><%= link_to('Editar Perfil', edit_user_registration_path) %></li>
            <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li> 
          <% else %>     
            <li><a>Bem Vindo(a), Visitante!</a></li>
            <li><%= link_to('Login', new_user_session_path) %></li> 
            <li><%= link_to('Cadastrar', new_user_registration_path) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
  <div class="panel panel-default" style="margin:10%; margin-top:5%; margin-bottom: 0.5%">
    <div class="panel-heading text-center">Cachorros Cadastrados</div>
      <div class="panel-body" style="margin:0%">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Raça</th>
              <th>Sexo</th>
              <th>Idade</th>
            </tr>
          </thead>
          <tbody style="vertical-center">
            <% @cadastro_cachorros.each do |cadastro_cachorro| %>
              <tr>
                <td class="col-sm-3" style="vertical-align: middle; font-family: Arial"><%= cadastro_cachorro.nome %></td>
                <td class="col-sm-3" style="vertical-align: middle; font-family: Arial;"><%= cadastro_cachorro.raca %></td>
                <td class="col-sm-3" style="vertical-align: middle; font-family: Arial;"><%= cadastro_cachorro.sexo %></td>
                <td class="col-sm-2" style="vertical-align: middle; font-family: Arial;"><%= cadastro_cachorro.idade %> Anos</td>
                <td><button type="button" class="btn btn-primary"><%= link_to 'Editar', edit_cadastro_cachorro_path(cadastro_cachorro), class:"deco-none", style:"font-family:Arial" %></button></td>
                <td><button type="button" class="btn btn-danger"><%= link_to 'Deletar', cadastro_cachorro, method: :delete, data: { confirm: 'Are you sure?' }, class:"deco-none", style:"font-family:Arial" %></button></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div> 
    </div>
    <div style="margin:10%; margin-top:0.5%;"><button type="button" class="btn btn-success col-sm-12"><%= link_to 'Cadastrar novo cão', new_cadastro_cachorro_path,  class:"deco-none", style:"font-family:Arial" %></button></div>
  </div> 
</body>
</html>