<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
 <title>Cadastre-se</title>
 <meta charset="utf-8">
 <link rel="stylesheet" href="laradocao.css">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="row">
    <div class="container text-center">
      <h1>ADO<span id="dest">CÃO</span></h1>      
      <p>Adote um amiguinho!</p>
    </div>
  </div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="#">ADOCÃO</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            <li><%= link_to('Home', controller: 'pagina_inicial') %></li>
            <li><%= link_to('Contato', controller: 'contato') %></li>
            <li><%= link_to('Visitas agendadas', visitas_agendadas_path) %></li>
            <li><%= link_to('Cadastramento de Cãezinhos', cadastro_cachorros_path)%></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a>Olá, moderador(a)</a></li>
          <li><%= link_to('Usuários Cadastrados', cadastro_usuarios_index_path) %></li>
          <li><%= link_to('Editar Perfil', edit_user_registration_path) %></li>
          <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container ">
    
    <p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @cadastro_cachorro.nome %>
</p>

<p>
  <strong>Raca:</strong>
  <%= @cadastro_cachorro.raca %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @cadastro_cachorro.sexo %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @cadastro_cachorro.idade %>
</p>

<%= link_to 'Edit', edit_cadastro_cachorro_path(@cadastro_cachorro) %> |
<%= link_to 'Back', cadastro_cachorros_path %>
    
    </div>
  </form>
</div>
</body>
</html>

