<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <title>Lar de Adoção</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="laradocao.css">
  <link rel="stylesheet" href="modal.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="shortcut icon" href="icon.ico" type="image/x-icon"/>
</head>
<body>
  <div class="row">
    <div class="container text-center">
      <h1>ADO<span id="dest">CÃO</span></h1>      
      <p>Adote um amiguinho!</p>
    </div>
  </div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand">ADOCÃO</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><%= link_to('Home', pagina_inicial_index_path) %></li>
          <li><%= link_to('Contate-nos', contato_index_path) %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">   
            <li><a>Bem Vindo(a), Visitante!</a></li>
            <li class="active"><a>Login</a></li> 
            <li><%= link_to('Cadastrar', new_user_registration_path) %></li>
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="container">
    <h2>Fazer login</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
       <div class="form-group">
        <%= f.label :'Email:' %><br/>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class:"form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :'Senha:' %> <br />
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "Senha", class:"form-control" %>
      </div>
      <button type="submit" class="btn btn-info">Log in</button>
    <% end %>
  </div>
</body>
</html>