<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Visitas agendadas</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="laradocao.css">
    <link rel="stylesheet" href="modal.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="icon.ico" type="image/x-icon"/>
  </head>
  <body>
    <div class="row">
      <div class="container text-center">
        <h1>ADO<span id="dest">CÃO</span></h1>      
        <p>Adote um amiguinho!</p>
      </div>
    </div>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand" href="#">ADOCÃO</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><%= link_to('Home', controller: 'pagina_inicial') %></li>
          <li><%= link_to('Contate-nos', contato_index_path) %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <%if user_signed_in? && current_user.isAdmin?%>
            <li><a>Olá, administrador!</a></li>
            <li><%= link_to('Usuários', cadastro_usuarios_index_path) %></li>
            <li><%= link_to('Cãezinhos', cadastro_cachorros_path) %></li>
            <li><%= link_to('Visitas', visitas_agendadas_path) %></li>
            <li><%= link_to('Editar Perfil', edit_user_registration_path) %></li>
            <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li> 
          <% else%> 
            <li><a>Olá, Usuário!</a></li>
            <li><%= link_to('Editar Perfil', edit_user_registration_path) %></li>
            <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li> 
          <% end %>
          </ul>
        </div>
      </div>
    </nav>
      <div class="container ">

        <p>
          <strong>Data:</strong>
          <%= @visitas_agendada.data %>
        </p>

        <p>
          <strong>Hora:</strong>
          <%= @visitas_agendada.hora %>
        </p>

      </form>
    </div>
    </div>
  </body>
</html>